<mat-card>
  <mat-card-content>
  <mat-card-title><a href="localhost:4200"> <img mat-card-avatar src="assets/logowastelesspatrat.jpg"> WasteLess </a>
    <a href="localhost:4200"> Despre noi </a> <a href="localhost:4200/add-registration">  Adauga produs </a>
  </mat-card-title>
  </mat-card-content>
</mat-card>
