mat-card{
  background: rgba(145, 188, 245, 0.5);
  color: whitesmoke;
  margin-bottom: 30px;
}

mat-card-content{
  display: inline;
}
mat-nav-list{
  display: inline;
}
.a{
  display: inline;
  padding-left: 10px;
  margin-left: 20px;
  color: aliceblue;
}

a:link {
  color: aliceblue;
  background-color: transparent;
  text-decoration: none;
  padding-left: 10px;
  margin-left: 20px;
}
a:visited {
  color: aliceblue;
  background-color: transparent;
  text-decoration: none;
}


