<div>
  <app-header></app-header>
</div>
<div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Introduceti numele"
               required #name="ngModel">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Introduceti adresa de email"
               required #email="ngModel">
      </div>
        <div class="form-group">
        <label> Oras </label>
          <select [(ngModel)]="user.city" id="city" name="city" class="form-control" required #city="ngModel">
            <option *ngFor="let city of cities" [value]="city">
              {{city}}
            </option>
          </select>

      </div>

      <div class="form-group">
        <label for="address">Adresa</label>
        <input type="text" [(ngModel)]="user.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Introduceti adresa"
               required #address="ngModel">
      </div>

      <div class="form-group">
        <label for="phone">Telefon</label>
        <input type="text" [(ngModel)]="user.phone"
               class="form-control"
               id="phone"
               name="phone"
               placeholder="Introduceti numarul de telefon"
               required #phone="ngModel">
      </div>

      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-primary">Submit</button>
    </form>
  </div>
