mat-elevation-z8{
  border-radius: 25px;
}
main{
  height: 95%;
  display: flex;
  flex: 1 1 auto;
  margin-top: 20px;
  position: center;
}

mat-card-image{
  width: 100px;
}

.image-product{
  padding: 20px;
  align: center;
  position: center;
  width: 50%;
}

.container{
  padding-top: 30px;
  padding-bottom: 30px;
}
