<div>
  <app-header></app-header>
</div>
<main>
  <div class="container">
    <div>
      <mat-card-header>
        <mat-card-title> {{productReg['userName']}} are de oferit: {{productReg['name']}} </mat-card-title>
      </mat-card-header>

      <mat-card>
        <img mat-card-image class="image-product" [src]="retrievedImage"/>

        <mat-card-content>
          <mat-card-title>
            <div>
              <h3>Descriere</h3>
              <mat-list>
                <mat-list-item>
                  {{productReg['description']}}
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-title>
          <div>
            <mat-list>
              <h3>Mai multe informatii despre produs:</h3>
              <mat-list-item> Postat pe data de: {{productReg['datePosted']}}</mat-list-item>
              <mat-list-item> Locatia de pick-up: {{productReg['pickupLocation']}}</mat-list-item>
              <mat-list-item> Oras: {{productReg['city']}}</mat-list-item>
              <mat-list-item> Numarul de telefon: {{productReg['phoneNumber']}}</mat-list-item>
              <mat-list-item> Rating user:
                <star-rating value="{{productReg['ratingUser']}}" totalstars="5" checkedcolor="red"
                             uncheckedcolor="black"
                             size="24px" readonly="true"></star-rating>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>
      <!--      <button class="btn btn-warning" (click)="navigation('')">Go Back</button>-->
    </div>
  </div>
</main>
<!--<div>-->
<!--  <app-footer></app-footer>-->
<!--</div>-->

