.container{
  padding-bottom: 30px;
  padding-top: 30px;
}
.mat-card{
  width: 250px;
  margin-left: 14%;
  color: lightblue;
}
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
.mat-form-field-flex{
  width:80%;
  margin-left:10px;
}


