<div>
  <app-header></app-header>
</div>

<div>
  <mat-card>
  <mat-card-title>Adauga un produs:</mat-card-title>
  </mat-card>
</div>


<div class="container">
  <form [formGroup]="bikeform" (ngSubmit)="submitRegistration()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>Numele produsului: </label>
      <input type="text" class="form-control" formControlName="name" required autofocus/>
    </div>
    <div class="form-group">
      <label>Descrierea produsului: </label>
      <input type="text" class="form-control" formControlName="description" required/>
    </div>
    <div class="form-group">
      <label>Categoria: </label>
      <select class="form-control" formControlName="category" required>
        <option value="">Selectati o categorie</option>
        <option *ngFor="let c of categories"
                [value]="c">
          {{c}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Disponibil pana la: </label>
      <input type="date" class="form-control" formControlName="availableUntil" required/>
    </div>
    <div class="form-group">
      <label>Orasul: </label>
      <select type="text" class="form-control" formControlName="city" required>
        <option value="">Selectati un oras</option>
        <option *ngFor="let city of cities"
                [value]="city">
          {{city}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Cand poate fi ridicat produsul: </label>
      <input type="text" class="form-control" formControlName="pickupTime" required/>
    </div>
    <div class="form-group">
      <label>Locatia:</label>
      <!-- give details about the approximate location, never give the exact address on the website for security reasons -->
      <input class="mat-form-field-flex" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    </div>
    <div class="container row">
      <div class="col-md-6">
        <input type="file" accept="image/jpeg" (change)="onFileChanged($event)">
      </div>
    </div>
    <hr />

    <button type="submit" class="btn btn-primary" >Adauga</button>
  </form>
</div>
