main{
  height: 95%;
  display: flex;
  flex: 1 1 auto;
  margin-top: 20px;
  position: center;
}
.mat-list-item{
  height: 70px;
  width: 70px;
  display: inline-flex;
}
.mat-raised-button{
  display: inline-block;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 50px;
}
.orasele{
  width: 100%;
  color: lightblue;
  padding-left: 100px;

}
