<div>
  <app-header></app-header>
</div>
<main style="background-image: url('assets/background.jpg'); background-repeat: no-repeat;" >

  <div class="container">

    <div class="orasele">
      <h2>
                                Alegeti unul dintre orasele in care suntem disponibili:
      </h2>
    </div>
    <br>
    <div class="buttoane">
    <button mat-raised-button><img mat-card-lg-image src="assets/iasi.jpg" alt="Iasi" (click)="getLinkRef('Iasi')"></button>

    <button mat-raised-button><img mat-card-lg-image src="assets/buc.jpg" alt="Bucuresti"
                                   (click)="getLinkRef('Bucuresti')"></button>

    <button mat-raised-button><img mat-card-lg-image src="assets/cluj.jpg" alt="Cluj-Napoca"
                                   (click)="getLinkRef('Cluj-Napoca')"></button>
    </div>
  </div>
</main>
<div>
  <app-footer></app-footer>
</div>

