<div>
  <app-header></app-header>
</div>
<main>

<div class="container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" hover="true" >

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
      <td mat-cell *matCellDef="let element"><img mat-card-avatar [src]="getBackground(element.pictureBytes)"/> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="datePosted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Posted on </th>
      <td mat-cell *matCellDef="let element"> {{element.datePosted}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Posted by </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="availableUntil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available until </th>
      <td mat-cell *matCellDef="let element"> {{element.availableUntil}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="getLinkRef(element.id)"> View </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons="true"></mat-paginator>
</div>
</main>
<footer><app-footer></app-footer></footer>



