table {
  width: 100%;
  border-radius: 25px;
}
mat-elevation-z8{
  border-radius: 25px;
}
main{
  height: 95%;
  display: flex;
  flex: 1 1 auto;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 0px;
}
